.footer {
	margin-bottom: var(--header-height);
	padding: 0.5rem;
	text-align: center;
	color: var(--white-color);
	background-color: var(--gray-dark-color);
}
.link{
    color:#ffee00;
    font-family: var(--font-text);
    font-weight: 600;
    font-style: italic;
}
