.header {
	box-sizing: inherit;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999;
	padding: 1rem;
	width: 100%;
	height: 4rem;
	background-color: var(--second-color);
}

.header > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-btn {
	outline: thin solid var(--first-color);
	border: 0;
	cursor: pointer;
	background-color: var(--second-color);
}

.menu-none {
	display: none;
}

.menu-btn svg {
	fill: var(--first-color);
}

.menu {
	position: fixed;
	left: 0;
	bottom: var(--header-height);
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--second-color);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s ease;
}

.menu.is-active {
	opacity: 1;
	pointer-events: auto;
}

.menu a {
	padding: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: var(--first-color);
}

.menu a:hover {
	color: var(--text-color);
	background-color: #cec94de1/* var(--second-alpha-color) */;
}

@media screen and (min-width: 1024px) {
	.header {
		position: sticky;
		top: 0;
		padding: 0.5rem;
		height: calc(var(--header-height) - 0.5rem);
	}

	.menu-btn {
		display: none;
	}

	.menu {
		position: static;
		width: auto;
		flex-direction: row;
		opacity: 1;
		pointer-events: auto;
	}

	.menu a {
		padding: 0 0.5rem;
	}

	.menu a:last-child {
		padding-right: 0;
	}

	.menu a:hover {
		background-color: transparent;
	}
}
