.container {
	margin-left: auto;
	margin-right: auto;
	min-width: 1200px;
}

/* .none {
	display: none;
} */

.header {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999;
	padding: 1rem;
	width: 100%;
	height: var(--header-height - 0.5rem);
	background-color: var(--second-color);
}

.header > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* 
.logo a {
	color: var(--first-color);
	font-weight: bold;
	font-size: 2rem;
	text-decoration: none;
}

.logo img {
	width: 64px;
	margin-right: 10px;
}
 */
/*$ ********** Menu ********** */

.menu {
	display: none;
}












/* 




.menu {
	position: static;
	left: 0;
	bottom: var(--header-height);
	width: auto;
	display: flex;
	flex-direction: row;
	background-color: var(--second-color);
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.5s ease;
}

.menu .a {
	padding: 0 0.2rem;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: var(--first-color);
}

.menu .a:hover {
	color: var(--gray-dark-color);
	background-color: transparent;
}

.menu-items {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.menu-items li {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.menu-items.mobile-open {
	display: flex;
	/* dar todos los estilos para que se comporte en celular 
}

@media (max-width: 768px) {
	.menu {
		flex-direction: column;
	}

	.menu-items {
		display: none;
	}
}
 */
