/* @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:regular,italic,700,700italic); */

.hero-image {
	background-image: url('/assets/hero-image-home.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.hero-image-opacity {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero-image-title {
	font-family:var();
	font-style: italic;
	font-size: 11vw;
	color: var(--white-color);
}


.foto-perfil {
	width: 250px;
	border-radius: 45%;
}

@media screen and (min-width: 1024px) {
	.foto-perfil {
		width: 600px;
	}

	.hero-image-title {
		font-size: 6.5vw;
	}
}