.hero-image {
	background-image: url('/assets/hero-image-home.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.hero-image-opacity {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;/* 
	background-color: var(--black-alpha-color); */
}

.hero-image-title {
	font-size: 4.5vw;
	color: var(--white-color);
}
