/*$ Utility */
.bg-gray-light {
	/*$ agrega el color de fondo de la <section>*/
	background-color: var(--gray-dark-color);
}

.section-title {
	border-top: thin solid var(--first-color);
	border-bottom: thin solid var(--first-color);
	margin: 2rem auto;
	padding: 0.5rem 1rem;
	width: 250px;
	text-align: center;
	color: var(--title-color);
}

/*$ style site */
.service-card {
	margin: 1rem auto;
	padding: 1rem;
	text-align: center;
}

.service-card h3 {
	color: var(--title-color);
}

.service-card svg {
	margin-bottom: 1.25rem;
	fill: var(--first-color);
}

@media screen and (min-width: 768px) {
	.services > .container {
		display: grid;
		grid-template-columns: repeat(2, 45%);
		justify-content: space-between;
		align-content: center;
	}

	.services .section-title {
		grid-column: span 2;
	}
}

@media screen and (min-width: 1024px) {
	.services > .container {
		grid-template-columns: repeat(3, 30%);
	}

	.services .section-title {
		grid-column: span 3;
	}
	.full-lg-screen {
		width: 100%;
		min-height: 100vh;
	}
}
