<header class="header">
  <section class="header-content container">
    <article class="logo">
      <a href="https://danielcalderon.vercel.app" target="_blank" reel="noopener"><img src="https://danielcalderon.vercel.app/assets/logo-kapelu.png" alt="Kapelu" /></a>
    </article>
    <nav class="menu">
      <a href="view/home.html">Inicio</a>
      <a href="view/acerca.html">Acerca</a>
      <a href="view/articulos.html">Articulos</a>
      <a href="view/contacto.html">Contacto</a>
    </nav>
  </section>
</header>