<h1>Contenido del Home</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptates nihil fugit eos iusto quos numquam
  perspiciatis, ullam sed nisi vero illo, officia autem ratione ducimus praesentium fugiat, quaerat nulla.
</p>
<img src="https://github.com/Kapelu/Kapelu/blob/main/scr/proyectos/hero-image-home.jpeg?raw=true" alt="home">
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptates nihil futione ducimus praesentium fugiat, quaerat nulla.t amet consectetur adipisicing elit. Consectetur voluptates nihil fugit eos iusto quos numquam
  perspiciatis, ullam sed nisi vero illo, officia autem ratione ducimus praesentium fugiat, quaerat nulla.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptates nihil fugit efugiat, quaerat nulla.nihil fugit eos iusto quos numquam
  perspiciatis, ullam sed nisi vero illo, officia autem ratione ducimus praesentium fugiat, quaerat nulla.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptates nihil fugit eos iusto quos numquam
  peril fugit eos iusto quos numquam  perspiciatis, ullam sed nisi vero illo, officia autem ratione ducimus praesentium fugiat, quaerat nulla.t amet consectetur adipisicing elit. Consectetur vospiciatis, ullam sed nisi vero illo, officia autem ratione ducimus praesentium fugiat, quaerat nulla.nihil fugit eos iusto quos numquam
  perspiciatis, ullam sed nisi vero illo, officia autem ratione ducimus praesentium fugiat, quaerat nulla.
</p>